; P.E.Op.S. OSS/ALSA spu plugin settings

Volume           = 2      ; Volume level 1-4 (1=loudest, 4=lowest, 3=default)
UseXA            = 1      ; Enable XA playing (0/1, 1=default)
XAPitch          = 0      ; Change XA pitch, if speed is wrong (0/1, 0=default)
HighCompMode     = 1      ; High compatibility mode (SPUupdate needed, 0/1, 1=default)
SPUIRQWait       = 0      ; SPU IRQ - wait for cpu action (0/1, 0=default)
UseReverb        = 2      ; Reverb effects (0-2, 2=default)
UseInterpolation = 2      ; Interpolation (0-3, 2=default)
DisStereo        = 1      ; Disable Stereo (0/1, 0=default)
DecodedBufIRQ    = 0      ; SPU IRQ - handle irqs in decoded areas (0/1, 0=default)


